<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% field.hobbies.each do |hobby| %>
    <%= check_box_tag "user[hobbies][]", hobby %>
    <%= hobby %>
  <% end %>
</div>
